.row{/*主页面栅格系统样式*/
    width: 100%;
    text-align: center;

}
.houseInfo{
    background-color: #eeeeee;
    margin: 20px;
    border: solid white 1px;
    border-radius: 5px;

}
.houseInfo span{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.houseInfo img{
    background-color: #4cae4c;
}
.upload{
    margin: 0 auto;
    text-align: center;
}